$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
  text-align: center;
}

.game-board {
  height: 450px;
  margin: auto;
  width: 450px;
}

.col-xs-4 {
  background: #add8e6;
  border: 1px solid;
  font-size: 100px;
  height: 150px;
  text-align: center;
  width: 150px;
}

.game-message {
  font-size: 20px;
  text-align: center;
}

.btn-container {
  margin: auto;
  text-align: center;
}

.new-game-button {
  margin: 0 auto;
  text-align: center;
}
